<mat-form-field appearance="fill">
  <mat-label>Search query - City</mat-label>
  <mat-icon matPrefix>search</mat-icon>
  <input matInput [(ngModel)]="searchQuery" type="search">
</mat-form-field>
<br />
<mat-form-field appearance="fill">
  <mat-label>Price range min</mat-label>
  <input matInput [(ngModel)]="priceRangeMin" type="number">
</mat-form-field>
<br />
<mat-form-field appearance="fill">
  <mat-label>Price range max</mat-label>
  <input matInput [(ngModel)]="priceRangeMax" type="number">
</mat-form-field>
<br />
<button mat-stroked-button color="primary" (click)="search()">
  <mat-icon>search</mat-icon>
  <span>Search</span>
</button>

<br />
<br />

<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let result of searchResults">
    <app-real-estate-card [realEstateInfo]="result"></app-real-estate-card>
  </mat-grid-tile>
</mat-grid-list>
