<a mat-menu-item routerLink="/dashboard" routerLinkActive="active">
  <mat-icon>dashboard</mat-icon>
  <span>Dashboard</span>
</a>
<a mat-menu-item routerLink="/user-list" routerLinkActive="active">
  <mat-icon>people</mat-icon>
  <span>User List</span>
</a>
<a mat-menu-item routerLink="/new-real-estate" routerLinkActive="active">
  <mat-icon>add</mat-icon>
  <span>Add Real Estate</span>
</a>
<a mat-menu-item routerLink="/unnaproved-real-estates" routerLinkActive="active">
  <mat-icon>feedback</mat-icon>
  <span>Unnaproved Real Estate</span>
</a>
<a mat-menu-item routerLink="/admin-dashboard" routerLinkActive="active">
  <mat-icon>admin_panel_settings</mat-icon>
  <span>Admin Dashboard</span>
</a>
