<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <p>{{ description }}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>place</mat-icon>
        <span>
          {{ city }},
          {{ municipality }},
          {{ street }},
          {{ streetnumber }}
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>maps_home_work</mat-icon>
        <span *ngIf="ishouse">House with {{ numfloors }} floors</span>
        <span *ngIf="!ishouse">Apartment on {{ numfloors }}. floor</span>
      </mat-list-item>
      <mat-list-item>
        <span>Size: {{ size }} square meters</span>
      </mat-list-item>
      <mat-list-item>
        <span>Number of Rooms: {{ numrooms }} </span>
      </mat-list-item>
      <mat-list-item>
        <span>Furnished:</span>
        <mat-icon *ngIf="furnished">check</mat-icon>
        <mat-icon *ngIf="!furnished">clear</mat-icon>
      </mat-list-item>
      <!-- TODO: gallery -->
      <mat-list-item>
        <span *ngIf="renting">For rent</span>
        <span *ngIf="!renting">For sale</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>euro</mat-icon>
        <span>{{ price }}</span>
      </mat-list-item>
      <mat-list-item>
        <span>Owner:&nbsp;</span>
        <span *ngIf="owner === 'admin'">Agency</span>
        <span *ngIf="owner !== 'admin'">{{ owner }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <div *ngIf="alreadyMadeOffer">
    You already made an offer for this real estate.
  </div>
  <mat-card-actions *ngIf="owner !== username && !alreadyMadeOffer">
    <div *ngIf="renting">
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [min]="minDate" [formGroup]="range" [rangePicker]="picker">
          <input required matInput matStartDate formControlName="start" placeholder="Start date">
          <input required matInput matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <br />
      <button mat-stroked-button color="primary" (click)="rent()">Rent</button>
    </div>
    <div *ngIf="!renting">
      <mat-form-field appearance="fill">
        <mat-label>Cash or Loan</mat-label>
        <mat-select [(ngModel)]="payment" required>
          <mat-option [value]="false">
            Cash
          </mat-option>
          <mat-option [value]="true">
            Loan
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <div *ngIf="payment">
        Loan with 20% payment = {{ size * price * 0.2 }} <mat-icon matListIcon>euro</mat-icon>
      </div>
      <div *ngIf="!payment">
        Cash payment = {{ size * price }} <mat-icon matListIcon>euro</mat-icon>
      </div>
      <br />
      <button mat-stroked-button color="primary" (click)="buy()">Buy</button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let imgurl of imgurls">
    <img [src]="imgurl">
  </mat-grid-tile>
</mat-grid-list>
