<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <p>{{ description }}</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>place</mat-icon>
        <span>
          {{ city }},
          {{ municipality }},
          {{ street }},
          {{ streetnumber }}
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>maps_home_work</mat-icon>
        <span *ngIf="ishouse">House with {{ numfloors }} floors</span>
        <span *ngIf="!ishouse">Apartment on {{ numfloors }}. floor</span>
      </mat-list-item>
      <mat-list-item>
        <span>Size: {{ size }} square meters</span>
      </mat-list-item>
      <mat-list-item>
        <span>Number of Rooms: {{ numrooms }} </span>
      </mat-list-item>
      <mat-list-item>
        <span>Furnished:</span>
        <mat-icon *ngIf="furnished">check</mat-icon>
        <mat-icon *ngIf="!furnished">clear</mat-icon>
      </mat-list-item>
      <!-- TODO: gallery -->
      <mat-list-item>
        <span *ngIf="renting">For rent</span>
        <span *ngIf="!renting">For sale</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>euro</mat-icon>
        <span>{{ price }}</span>
      </mat-list-item>
      <mat-list-item>
        <span>Owner:&nbsp;</span>
        <span *ngIf="owner === 'admin'">Agency</span>
        <span *ngIf="owner !== 'admin'">{{ owner }}</span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="renting">
      <button mat-stroked-button color="primary" (click)="rent()">Rent</button>
    </div>
    <div *ngIf="!renting">
      <button mat-stroked-button color="primary" (click)="buy()">Buy</button>
    </div>
  </mat-card-actions>
</mat-card>
