<div class="center">
  <h1>Offers for real estate:</h1>
  <p>
    {{description}}
  </p>
</div>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="accept">
    <th mat-header-cell *matHeaderCellDef> Accept Offer </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button *ngIf="!dataSource[i].active" mat-stroked-button color="primary"
        (click)="acceptOffer(dataSource[i].username)">
        Accept Offer
        <mat-icon>thumb_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- TODO: renting date range -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
