<a mat-menu-item routerLink="/dashboard" routerLinkActive="active">
  <mat-icon>dashboard</mat-icon>
  <span>Dashboard</span>
</a>
<a mat-menu-item routerLink="/new-real-estate" routerLinkActive="active">
  <mat-icon>add</mat-icon>
  <span>Add Real Estate</span>
</a>
<a mat-menu-item routerLink="/unnaproved-real-estates" routerLinkActive="active">
  <mat-icon>feedback</mat-icon>
  <span>Unnaproved Real Estate</span>
</a>
<a mat-menu-item routerLink="/promoted-real-estates" routerLinkActive="active">
  <mat-icon>list_alt</mat-icon>
  <span>Promoted Real Estates</span>
</a>
<a mat-menu-item routerLink="/all-real-estates" routerLinkActive="active">
  <mat-icon>list</mat-icon>
  <span>All Real Estates</span>
</a>
