<div class="center">
  <h1>Change password:</h1>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Old Password</mat-label>
    <mat-icon matSuffix>password</mat-icon>
    <input [(ngModel)]="passwordOld" matInput type="password">
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <mat-icon matSuffix>password</mat-icon>
    <input [(ngModel)]="password" matInput type="password">
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Repeat New Password</mat-label>
    <mat-icon matSuffix>password</mat-icon>
    <input [(ngModel)]="passwordRepeat" matInput type="password">
  </mat-form-field>
  <br />
  <button mat-stroked-button color="primary" (click)="changePassword()">
    <mat-icon>lock</mat-icon>
    <span>Change Password</span>
  </button>
</div>
