<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="account icon">
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <div *ngIf="!isUserLoggedIn">
    <a mat-menu-item routerLink="/login" routerLinkActive="active">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </a>
    <a mat-menu-item routerLink="/register" routerLinkActive="active">
      <mat-icon>app_registration</mat-icon>
      <span>Register</span>
    </a>
  </div>
  <div *ngIf="isUserLoggedIn">
    <div *ngIf="isUser">
      user
      <app-account-menu-user></app-account-menu-user>
    </div>
    <div *ngIf="isAgent">
      agent
      <app-account-menu-agent></app-account-menu-agent>
    </div>
    <div *ngIf="isAdmin">
      admin
      <app-account-menu-admin></app-account-menu-admin>
    </div>

    <a mat-menu-item routerLink="/profile" routerLinkActive="active">
      <mat-icon>manage_accounts</mat-icon>
      <span>Account Settings</span>
    </a>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </div>
</mat-menu>
